<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My 掲示板</title>
</head>
<body>
    <p>
        新規投稿
    </p>
    <hr>
    <form method="POST" action="/session/post" enctype="multipart/form-data">
        <th:block th:each="message : ${errorMessage}">
            <div th:text="${message}" style="color:red"></div>
        </th:block>
        ■名前
        <br>
        <th:block th:text="${userName}"></th:block>
        <input type="hidden" name="userName" th:value="${userName}">
        <br>
        ■URL
        <br>
        <input type="text" name="url" maxlength="100">
        <br>
        ■本文 (必須)
        <br>
        <textarea maxlength="10000" name="message" rows="10" cols="40"></textarea>
        <br>
        ■画像
        <input type="file" name="image" accept="image/*">
        <br>
        ■削除パスワード (必須)
        <br>
        <input type="password" name="password" maxlength="16">
        <br>
        <input type="submit" value="投稿">
    </form>
    <hr>
    <p>
        <a href="/session/index">戻る</a>
    </p>
</body>
</html>
